<blockquote>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo eveniet itaque nostrum qui quia quo debitis! Omnis laborum placeat inventore culpa, eos rem sit ullam, saepe veritatis quidem mollitia ab.</p>
	<footer>
		Blockquote Citation
	</footer>
</blockquote>