{% extends "templates-site" %}

{% block before_content %}{% endblock %}

{% block content %}
<div class="lt-c-site-content">
    <main class="lt-c-site-content__main">
        {% block main %}
            <p>Content Placeholder</p>
        {% endblock %}
    </main>
</div>
{% endblock %}

{% block after_content %}{% endblock %}