<div class="card">
        <div class="card-header">
         {{ featured }}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ specialTitle }}</h5>
          <p class="card-text">{{ supportingText }}</p>
          <a href="#" class="btn btn-primary">{{ buttonText }}</a>
        </div>
</div>